<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<section layout:fragment="sidebar" th:remove="tag">
		<div
			class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
			style="overflow: visible;">
			<div id="mCSB_1"
				class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside"
				style="max-height: none;" tabindex="0">
				<div id="mCSB_1_container"
					class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
					style="position: relative; top: 0; left: 0;" dir="ltr">
					<div class="left_col scroll-view">
						<div class="navbar nav_title" style="border: 0;">
							<a th:href="@{/admin/dashboard}" class="site_title"><span
								class="logo-lg"><b>Admin</b>LTE</span></a>
						</div>
						<div class="clearfix"></div>
						<!-- menu profile quick info -->
						<div class="profile clearfix">
							<div class="profile_pic">
								<img th:src="@{/static/images/admin/default-avatar.png}"
									alt="Profile Avatar"
									class="img-circle profile_img mCS_img_loaded">
							</div>
							<div class="profile_info">
								<span>Welcome, <br>Super admin
								</span>
								<h2></h2>
							</div>
						</div>
						<!-- /menu profile quick info -->
						<br>
						<!-- sidebar menu -->
						<div id="sidebar-menu"
							class="main_menu_side hidden-print main_menu">
							<div class="menu_section active">
								<ul class="nav side-menu" style="">
									<li><a th:href="@{/admin/orders/index}"> <i
											class="fa fa-shopping-bag"></i> Orders
									</a></li>
									<li><a th:href="@{/admin/categories/index}"> <i
											class="fa fa-align-left"></i> Categories
									</a></li>
									<li><a th:href="@{/admin/products/index}"> <i
											class="fa fa-leaf"></i> Products
									</a></li>
									<li><a th:href="@{/admin/customers/index}"> <i 
											class="fa fa-users"></i> Customers
									</a></li>
									<li><a th:href="@{/admin/coupons/index}"> <i
											class="fa fa-minus-square"></i> Coupons
									</a></li>
								</ul>
							</div>
						</div>
						<!-- /sidebar menu -->
					</div>
				</div>
			</div>
			<div id="mCSB_1_scrollbar_vertical"
				class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical"
				style="display: none;">
				<div class="mCSB_draggerContainer">
					<div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
						style="position: absolute; min-height: 50px; height: 0px; top: 0px;"
						oncontextmenu="return false;">
						<div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
					</div>
					<div class="mCSB_draggerRail"></div>
				</div>
			</div>
		</div>
	</section>
</body>