<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div layout:replace = "~{admin/fragments/head :: head}"></div>
	</head>
	<body class = "nav-md">
		<div class = "container body">
			<div class = "main container">
				<section layout:replace = "~{admin/fragments/header :: header}"></section>
				<section layout:replace = "~{admin/fragments/sidebar :: sidebar}"></section>
			
				<section layout:fragment = "content" th:remove = "tag"></section>
			</div>
		</div>
	</body>
</html>